<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

	<title>Login - Administração de Pousada</title>

	<link href="~/assets/css/app.css" rel="stylesheet">
	<link href="~/assets/css/bootstrap4.1.3/bootstrap.min.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="main-content">
    <div class="main-content-inner">

        @if (TempData["Sucesso"] != null)
        {
            <partial name="_Sucesso" />
        }
        @if (TempData["Erro"] != null)
        {
            <partial name="_Erro" />
        }
        @if (TempData["Alerta"] != null)
        {
            <partial name="_Alerta" />
        }
        @if (TempData["Informacao"] != null)
        {
            <partial name="_Info" />
        }

        @RenderBody()

    </div>
</div><!-- /.main-content -->
    <script src="~/assets/jquery/jquery-3.6.4.min.js"></script>
    <script src="~/assets/js/bootstrap4.1.3/bootstrap.bundle.min.js"></script>

</body>

</html>
