<div class="alert alert-dismissible fade show alertaAjax" style="margin-top: -25px;" role="alert">
    <strong id="ajaxTitulo"></strong>&ensp;-&ensp;<span id="msgAjax"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
